

.container {
    max-width: 600px;
    margin: 0 auto;
}

.alert {
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    font-family: 'Source Sans Pro';
}

.form-group {
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

/* Personalize as caixas dos inputs com bordas arredondadas */
.form-control {
    border-radius: 8px;
}

/* Alinhe os botões à direita */
.text-right {
    text-align: right;
}

body {
    font-family: 'Arial', sans-serif;
    padding-top: 100px;
    margin: 0;
}

.complet {

    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 20px;
    padding: 15px;
}

.content {
    position: relative;
    z-index: 1000; /* Z-index mais baixo do que o overlay para estar acima dele */
}

